/*Global Setting*/
body {
    margin:0%;
    padding:0%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body .container {
        width: 85%;
        height: auto;
        position: fixed;
        top: 25%;
        padding: 3%;
    }

    body .container .dolar-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body .container .dolar-div p {
        margin: 0%;
        text-align: center;
    }
    body .container .dolar-div h2 {
        font-size: 3.7rem;
        margin: 0%;
    }

    body .container .conversor-div {
        padding-top: 15%;
    }
    body .container .conversor-div form{
        display: flex;
        flex-direction: column;
    }
    body .container .conversor-div form div{
        display: inline-flex;
        justify-content: space-evenly;
    }
    body .container .conversor-div form div .div-input{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #636363;
    }
    body .container .conversor-div form div .div-input span{
        border: none;
        background: none;
    }
    body .container .conversor-div form div .span{
        width: 20%;
        text-align: center;
        font-size: 3rem;
    }
    body .container .conversor-div form div .div-results{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #636363;
    }
    body .container .conversor-div .div-voltar {
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    body .container .input {
        margin-top: 15%;
        border-radius: 50px;
        width: 50%;
        height: 2.5rem;
        background-color: #ff4b2b;
        color: white;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.833);
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body .container {
        width: 85%;
        height: auto;
        position: fixed;
        top: 25%;
        padding: 3%;
    }

    body .container .dolar-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body .container .dolar-div p {
        margin: 0%;
        text-align: center;
    }
    body .container .dolar-div h2 {
        font-size: 3.7rem;
        margin: 0%;
    }

    body .container .conversor-div {
        padding-top: 15%;
    }
    body .container .conversor-div form{
        display: flex;
        flex-direction: column;
    }
    body .container .conversor-div form div{
        display: inline-flex;
        justify-content: space-evenly;
    }
    body .container .conversor-div form div .div-input{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #636363;
    }
    body .container .conversor-div form div .div-input span{
        border: none;
        background: none;
    }
    body .container .conversor-div form div .span{
        width: 20%;
        text-align: center;
        font-size: 3rem;
    }
    body .container .conversor-div form div .div-results{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #636363;
    }
    body .container .conversor-div .div-voltar {
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    body .container .input {
        margin-top: 15%;
        border-radius: 50px;
        width: 50%;
        height: 2.5rem;
        background-color: #ff4b2b;
        color: white;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.833);
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body .container {
        width: 85%;
        height: auto;
        position: fixed;
        top: 25%;
        padding: 3%;
    }

    body .container .dolar-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body .container .dolar-div p {
        margin: 0%;
        text-align: center;
        font-size: 22px;
    }
    body .container .dolar-div h2 {
        font-size: 5rem;
        margin: 0%;
    }

    body .container .conversor-div {
        padding-top: 15%;
    }
    body .container .conversor-div form{
        display: flex;
        flex-direction: column;
    }
    body .container .conversor-div form div{
        display: inline-flex;
        justify-content: space-evenly;
    }
    body .container .conversor-div form div .div-input{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #636363;
    }
    body .container .conversor-div form div .div-input span{
        font-size: 27px;
    }
    body .container .conversor-div form div .div-input span{
        border: none;
        background: none;
    }
    body .container .conversor-div form div .span{
        width: 20%;
        text-align: center;
        font-size: 3rem;
    }
    body .container .conversor-div form div .div-results{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #636363;
    }
    body .container .conversor-div form div .div-results span{
        font-size: 27px;
    }
    body .container .conversor-div .div-voltar {
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    body .container .input {
        margin-top: 15%;
        border-radius: 50px;
        width: 50%;
        height: 2.5rem;
        background-color: #ff4b2b;
        color: white;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.833);
        font-size: 25px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    body .container {
        width: 85%;
        height: auto;
        position: fixed;
        top: 2%;
        padding: 3%;
    }

    body .container .dolar-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body .container .dolar-div p {
        margin: 0%;
        text-align: center;
        font-size: 22px;
    }
    body .container .dolar-div h2 {
        font-size: 5rem;
        margin: 0%;
    }

    body .container .conversor-div {
        padding-top: 5%;
    }
    body .container .conversor-div form{
        display: flex;
        flex-direction: column;
    }
    body .container .conversor-div form div{
        display: inline-flex;
        justify-content: space-evenly;
    }
    body .container .conversor-div form div .div-input{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #636363;
    }
    body .container .conversor-div form div .div-input span{
        font-size: 27px;
    }
    body .container .conversor-div form div .div-input span{
        border: none;
        background: none;
    }
    body .container .conversor-div form div .span{
        width: 20%;
        text-align: center;
        font-size: 3rem;
    }
    body .container .conversor-div form div .div-results{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #636363;
    }
    body .container .conversor-div form div .div-results span{
        font-size: 27px;
    }
    body .container .conversor-div .div-voltar {
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    body .container .input {
        margin-top: 10%;
        border-radius: 50px;
        width: 50%;
        height: 2.5rem;
        background-color: #ff4b2b;
        color: white;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.833);
        font-size: 25px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    body .container {
        width: 85%;
        height: auto;
        position: fixed;
        top: 2%;
        padding: 3%;
    }

    body .container .dolar-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body .container .dolar-div p {
        margin: 0%;
        text-align: center;
        font-size: 22px;
    }
    body .container .dolar-div h2 {
        font-size: 5rem;
        margin: 0%;
    }

    body .container .conversor-div {
        padding-top: 10%;
    }
    body .container .conversor-div form{
        display: flex;
        flex-direction: column;
    }
    body .container .conversor-div form div{
        display: inline-flex;
        justify-content: space-evenly;
    }
    body .container .conversor-div form div .div-input{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #636363;
    }
    body .container .conversor-div form div .div-input span{
        font-size: 27px;
    }
    body .container .conversor-div form div .div-input span{
        border: none;
        background: none;
    }
    body .container .conversor-div form div .span{
        width: 20%;
        text-align: center;
        font-size: 3rem;
    }
    body .container .conversor-div form div .div-results{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #636363;
    }
    body .container .conversor-div form div .div-results span{
        font-size: 27px;
    }
    body .container .conversor-div .div-voltar {
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    body .container .input {
        margin-top: 5%;
        border-radius: 50px;
        width: 50%;
        height: 2.5rem;
        background-color: #ff4b2b;
        color: white;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.833);
        font-size: 25px;
    }
}